In [1]:
import pandas as pd

In [8]:
models = ['bert-base-uncased', 'distilbert-base-uncased', 'roberta-base']

In [9]:
models = list(map(lambda x:x.split("-")[0]+"_prob", models))

In [10]:
models

['bert_prob', 'distilbert_prob', 'roberta_prob']

In [11]:
df = pd.read_csv("/home/macab/research/robust-representation-learning/concept-explanation/outputs/imdb_sst2_sa/sst2.csv")

In [12]:
df.head()

,text,ground_truth,bert_pred,bert_prob,distilbert_pred,distilbert_prob,roberta_pred,roberta_prob
0,unflinchingly bleak and desperate,0,0,0.907564,0,0.843935,0,0.978758
1,"it's slow -- very, very slow.",0,0,0.997606,0,0.989695,0,0.997834
2,a sometimes tedious film.,0,0,0.877736,0,0.989908,0,0.997731
3,or doing last year's taxes with your ex-wife.,0,0,0.980953,0,0.980491,0,0.943878
4,"in exactly 89 minutes, most of which passed as...",0,0,0.997083,0,0.986785,0,0.997290

In [13]:
df['mean_prob'] = df[models].mean(axis=1)

In [14]:
df.head()

,text,ground_truth,bert_pred,bert_prob,distilbert_pred,distilbert_prob,roberta_pred,roberta_prob,mean_prob
0,unflinchingly bleak and desperate,0,0,0.907564,0,0.843935,0,0.978758,0.910085
1,"it's slow -- very, very slow.",0,0,0.997606,0,0.989695,0,0.997834,0.995045
2,a sometimes tedious film.,0,0,0.877736,0,0.989908,0,0.997731,0.955125
3,or doing last year's taxes with your ex-wife.,0,0,0.980953,0,0.980491,0,0.943878,0.968441
4,"in exactly 89 minutes, most of which passed as...",0,0,0.997083,0,0.986785,0,0.997290,0.993719

In [15]:
df = df.sample(frac=1.0)

In [17]:
df.head()

,text,ground_truth,bert_pred,bert_prob,distilbert_pred,distilbert_prob,roberta_pred,roberta_prob,mean_prob
793,"a poignant, artfully crafted meditation on mor...",1,1,0.999439,1,0.999484,1,0.999664,0.999529
55,sam mendes has become valedictorian at the sch...,0,1,0.415464,1,0.494315,1,0.004342,0.304707
325,there's not enough here to justify the almost ...,0,0,0.998340,0,0.997348,0,0.998305,0.997998
345,"every time you look, sweet home alabama is tak...",0,0,0.988348,0,0.963034,0,0.996729,0.982704
416,given how heavy-handed and portent-heavy it is...,0,0,0.998344,0,0.997703,0,0.998205,0.998084

In [55]:
top_5 = df['mean_prob'].quantile(q=0.95)
bottom_5 = df['mean_prob'].quantile(q=0.05)

In [56]:
df_top_5 = df[df['mean_prob'] >= top_5]
df_bottom_5 = df[df['mean_prob'] <= bottom_5]

In [57]:
print(df_top_5.shape, df_bottom_5.shape)

(43, 9) (43, 9)

In [68]:
df_top_5[['text', 'ground_truth', 'mean_prob']].head(10)

,text,ground_truth,mean_prob
793,"a poignant, artfully crafted meditation on mor...",1,0.999529
837,"just as moving, uplifting and funny as ever.",1,0.999555
442,"a gorgeous, witty, seductive movie.",1,0.999628
597,a deep and meaningful film.,1,0.999635
811,"... a fun little timewaster, helped especially...",1,0.999458
840,"this is a good script, good dialogue, funny ev...",1,0.999479
456,this is a story of two misfits who don't stand...,1,0.999492
658,yakusho and shimizu... create engaging charact...,1,0.999635
428,it's a charming and often affecting journey.,1,0.999638
842,a delightful coming-of-age story.,1,0.999649

In [69]:
df_bottom_5[['text', 'ground_truth', 'mean_prob']].head(10)

,text,ground_truth,mean_prob
55,sam mendes has become valedictorian at the sch...,0,0.304707
562,"a coda in every sense, the pinochet case split...",1,0.225765
147,i 'll bet the video game is a lot more fun tha...,0,0.064341
242,moretti's compelling anatomy of grief and the ...,0,0.002468
699,a movie that successfully crushes a best selli...,1,0.112887
142,the story and the friendship proceeds in such ...,0,0.106649
616,( d ) oesn't bother being as cloying or preach...,1,0.088918
565,minority report is exactly what the title indi...,1,0.299417
191,if director michael dowse only superficially u...,0,0.211421
434,"we root for ( clara and paul ), even like them...",1,0.053331

In [70]:
df_top_5[['text', 'ground_truth', 'mean_prob']].to_csv("top_5_sst2.csv", index=False)
df_bottom_5[['text', 'ground_truth', 'mean_prob']].to_csv("bottom_5_sst2.csv", index=False)

In [51]:
df_top_5[['text', 'mean_prob']].head(10)

                                                  text  mean_prob
793  a poignant, artfully crafted meditation on mor...   0.999529
837      just as moving, uplifting and funny as ever.    0.999555
442               a gorgeous, witty, seductive movie.    0.999628
597                       a deep and meaningful film.    0.999635
811  ... a fun little timewaster, helped especially...   0.999458
840  this is a good script, good dialogue, funny ev...   0.999479
456  this is a story of two misfits who don't stand...   0.999492
658  yakusho and shimizu... create engaging charact...   0.999635
428      it's a charming and often affecting journey.    0.999638
842                 a delightful coming-of-age story.    0.999649

In [71]:
from sklearn.metrics import classification_report

In [72]:
print(classification_report(y_true=df['ground_truth'], y_pred=df['roberta_pred'], digits=4))

              precision    recall  f1-score   support

           0     0.9340    0.9252    0.9296       428
           1     0.9259    0.9346    0.9302       428

    accuracy                         0.9299       856
   macro avg     0.9299    0.9299    0.9299       856
weighted avg     0.9299    0.9299    0.9299       856