In [1]:
import pandas as pd

In [2]:
models = ['bert-base-uncased', 'distilbert-base-uncased', 'roberta-base']

In [3]:
models = list(map(lambda x:x.split("-")[0]+"_prob", models))

In [4]:
models

['bert_prob', 'distilbert_prob', 'roberta_prob']

In [5]:
df = pd.read_csv("/home/macab/research/robust-representation-learning/concept-explanation/outputs/mnli/mnli.csv")

In [6]:
df.head()

,text,ground_truth,distilbert_pred,distilbert_prob,roberta_pred,roberta_prob,bert_pred,bert_prob
0,the new rights are nice enough everyone really...,1,1,0.891813,1,0.745590,1,0.871587
1,this site includes a list of all award winners...,2,2,0.953285,2,0.989634,2,0.981063
2,uh i don't know i i have mixed emotions about ...,0,1,0.313883,0,0.689912,1,0.167071
3,yeah i i think my favorite restaurant is alway...,2,1,0.270101,1,0.300233,1,0.406287
4,i don't know um do you do a lot of camping i k...,2,2,0.951305,2,0.992169,2,0.987972

In [7]:
df['mean_prob'] = df[models].mean(axis=1)

In [8]:
df.head()

,text,ground_truth,distilbert_pred,distilbert_prob,roberta_pred,roberta_prob,bert_pred,bert_prob,mean_prob
0,the new rights are nice enough everyone really...,1,1,0.891813,1,0.745590,1,0.871587,0.836330
1,this site includes a list of all award winners...,2,2,0.953285,2,0.989634,2,0.981063,0.974661
2,uh i don't know i i have mixed emotions about ...,0,1,0.313883,0,0.689912,1,0.167071,0.390288
3,yeah i i think my favorite restaurant is alway...,2,1,0.270101,1,0.300233,1,0.406287,0.325540
4,i don't know um do you do a lot of camping i k...,2,2,0.951305,2,0.992169,2,0.987972,0.977149

In [9]:
df = df.sample(frac=1.0)

In [10]:
df.head()

,text,ground_truth,distilbert_pred,distilbert_prob,roberta_pred,roberta_prob,bert_pred,bert_prob,mean_prob
7031,"in this respect, bringing steve jobs back to s...",0,0,0.616070,0,0.960283,0,0.817080,0.797811
2672,jon's defense began to weaken and slow. jon fe...,2,2,0.769695,2,0.973326,2,0.858740,0.867254
1846,a little past the small theater built for loca...,2,2,0.979074,2,0.987399,2,0.979261,0.981911
8818,it is at the moment of maximum audience suscep...,0,0,0.607033,2,0.233893,2,0.353130,0.398019
6147,"south carolina has no referendum right, so the...",2,1,0.240270,2,0.823089,0,0.158566,0.407308

In [14]:
top_5 = df['mean_prob'].quantile(q=0.90)
bottom_5 = df['mean_prob'].quantile(q=0.10)

In [15]:
df_top_5 = df[df['mean_prob'] >= top_5]
df_bottom_5 = df[df['mean_prob'] <= bottom_5]

In [16]:
print(df_top_5.shape, df_bottom_5.shape)

(982, 9) (982, 9)

In [17]:
df_top_5[['text', 'ground_truth', 'mean_prob']].head(10)

,text,ground_truth,mean_prob
1846,a little past the small theater built for loca...,2,0.981911
1220,agency officials stated that copies of both th...,2,0.958203
9545,there were beads of perspiration on his brow. ...,2,0.978763
9118,all these sites will automatically lead into g...,2,0.975238
3036,they post loads of newspaper articles - - yaho...,2,0.990727
3791,i have kept you and clothed you and fed you! i...,2,0.990570
7040,madrid is the perfect base for explorations in...,2,0.983962
1133,"she graduated in 1995 owing $ 58, 000 in loans...",2,0.985352
4743,the road along the coastline to the south trav...,2,0.984317
8803,there are also ferries to discovery bay. there...,2,0.990402

In [18]:
df_bottom_5[['text', 'ground_truth', 'mean_prob']].head(10)

,text,ground_truth,mean_prob
160,"for big raj - buffs, the supreme example of in...",2,0.168860
8314,"in the 19th century, when kashmir was the most...",2,0.186806
6956,anwar el - sadat succeeded nasser in 1970. nas...,2,0.117802
2844,"do you trust me, uncle? gauve hesitated. gauve...",1,0.212983
3259,"and it needs work too, you know, in case i hav...",2,0.213960
9062,"sun ra's spaceships did not come, as it were, ...",2,0.189352
2338,the ams system also allows users to search the...,2,0.081396
5987,this formal review process guarantees represen...,2,0.211944
3550,"he jumped up, planting one hand on the chargin...",2,0.148834
6429,the spear missed vrenna by only a hand - span....,2,0.141670

In [19]:
df_top_5[['text', 'ground_truth', 'mean_prob']].to_csv("top_5_sst2.csv", index=False)
df_bottom_5[['text', 'ground_truth', 'mean_prob']].to_csv("bottom_5_sst2.csv", index=False)

In [51]:
df_top_5[['text', 'mean_prob']].head(10)

                                                  text  mean_prob
793  a poignant, artfully crafted meditation on mor...   0.999529
837      just as moving, uplifting and funny as ever.    0.999555
442               a gorgeous, witty, seductive movie.    0.999628
597                       a deep and meaningful film.    0.999635
811  ... a fun little timewaster, helped especially...   0.999458
840  this is a good script, good dialogue, funny ev...   0.999479
456  this is a story of two misfits who don't stand...   0.999492
658  yakusho and shimizu... create engaging charact...   0.999635
428      it's a charming and often affecting journey.    0.999638
842                 a delightful coming-of-age story.    0.999649

In [71]:
from sklearn.metrics import classification_report

In [72]:
print(classification_report(y_true=df['ground_truth'], y_pred=df['roberta_pred'], digits=4))

              precision    recall  f1-score   support

           0     0.9340    0.9252    0.9296       428
           1     0.9259    0.9346    0.9302       428

    accuracy                         0.9299       856
   macro avg     0.9299    0.9299    0.9299       856
weighted avg     0.9299    0.9299    0.9299       856

### Analyzing Pretrained Representations

In [5]:
import os
import gc
import json
import torch
import numpy as np
import pandas as pd
import random
import argparse
from tqdm import tqdm
import pandas as pd
from config import config
from utils import seed, create_trainer, update_results
import pytorch_lightning as pl
from evaluation import evaluate
from dataset.loader import create_loaders
from dataset.dataset import create_datasets
from transformers import AutoTokenizer
from Trainer import LightningModel
from models.model import Model
from datasets import load_dataset

In [6]:
datasets = create_datasets(task='mnli')

Using custom data configuration default
Reusing dataset multi_nli (/home/macab/.cache/huggingface/datasets/multi_nli/default/0.0.0/591f72eb6263d1ab527561777936b199b714cda156d35716881158a2bd144f39)

In [7]:
models = config['models']

In [8]:
model_name = models[0]

In [9]:
tokenizer = AutoTokenizer.from_pretrained(model_name, usefast=True, use_lower_case=True)

In [10]:
loaders = create_loaders(
        dataset=datasets,
        task='mnli',
        tokenizer=tokenizer
    )

Loading cached processed dataset at /home/macab/.cache/huggingface/datasets/multi_nli/default/0.0.0/591f72eb6263d1ab527561777936b199b714cda156d35716881158a2bd144f39/cache-661ac51a4c2da6b9.arrow
Loading cached processed dataset at /home/macab/.cache/huggingface/datasets/multi_nli/default/0.0.0/591f72eb6263d1ab527561777936b199b714cda156d35716881158a2bd144f39/cache-84ea8ba91801c3a2.arrow

In [27]:
lm = LightningModel(
    model_name=model_name,
    task="mnli",
    config=config
)

In [12]:
lm.load_state_dict(
    torch.load("./outputs/mnli/distilbert-base-uncased/epoch=2.ckpt", map_location=torch.device('cpu'))['state_dict']
)

In [13]:
trainer = pl.Trainer()

GPU available: False, used: False
TPU available: False, using: 0 TPU cores

In [14]:
# trainer.test(
#     model=lm,
#     test_dataloaders=loaders['mnli']['test']
# )

In [15]:
predictions =  load_dataset('csv', data_files='./outputs/mnli/mnli_mean.csv')['train']

Using custom data configuration default-1024230881837e09
Reusing dataset csv (/home/macab/.cache/huggingface/datasets/csv/default-1024230881837e09/0.0.0/2dc6629a9ff6b5697d82c25b73731dd440507a69cbce8b425db50b751e8fcfd0)

In [16]:
# predictions

In [17]:
predictions = predictions.filter(lambda example : example['mean_prob'] < 0.4)

100%|██████████| 10/10 [00:00<00:00, 33.68ba/s]

In [18]:
tokenized = predictions.map(lambda x: tokenizer(x['text'], padding='max_length', truncation=True, max_length=config['tasks']['mnli']['max_seq_length']), batched=True)

tokenized.set_format(type='torch', columns=['input_ids', 'attention_mask'])

100%|██████████| 3/3 [00:01<00:00,  2.15ba/s]

In [21]:
# lm.eval()

In [28]:
for param in lm.model.parameters():
    param.requires_grad = False

In [29]:
outputs = torch.empty((0, 768))
for each in tqdm(tokenized):

    _, out = lm(
        input_ids=each['input_ids'].unsqueeze(0), 
        attention_mask=each['attention_mask'].unsqueeze(0),
    )

    outputs = torch.vstack((outputs, out))


    # print(each['input_ids'].shape, each['attention_mask'].shape)

    # print(outputs.shape)
    # break

100%|██████████| 2141/2141 [02:19<00:00, 15.39it/s]

In [30]:
print(outputs.shape)

torch.Size([2141, 768])

In [31]:
torch.save(outputs, "./outputs/mnli/mnli.pt")

In [100]:
# torch.hstack?